.introduction-bg {
    background-color: #000;
    box-shadow: 0px -120px 0px #fff inset;
    color: #fff;
}

.introduction {
    display: grid;
    gap: 0px 40px;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    max-width: 1200px;
    padding: 0px 20px;
}

.introduction-content {
    align-self: end;
    padding-bottom: 200px;
}

.introduction-content h1 {
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 32px;
}

.introduction-content h1 span {
    color: #ffbf00;
}

.introduction-content p {
    color: #b2b2b2;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.introduction-content a {
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: #320;
    display: inline-block;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    padding: 16px 32px;
    text-transform: uppercase;
}

.introduction-content a:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.introduction img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .introduction-content h1 {
        font-size: 48px;
    }

    .introduction-content p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .introduction-content a {
        font-size: 16px;
        padding: 12px 16px;
    }
}

@media (max-width: 800px) {
    .introduction {
        gap: 32px;
        grid-template-columns: 1fr;
    }

    .introduction-bg {
        background-color: #111;
        box-shadow: 0px -60px 0px #fff inset;
        padding-top: 40px;
    }

    .introduction-content {
        padding-bottom: 0px;
    }

    .introduction-content h1 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .introduction img {
        height: 300px;
        width: 100%;
    }
}
