.questions {
    --padding: 120px;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.questions h2 {
    margin-bottom: 60px;
}

.questions dl > div {
    border-radius: 4px;
    padding: 20px;
}

.questions dl > div:nth-child(odd) {
    background-color: var(--color-1);
}

.questions button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: grid;
    gap: 8px;
    grid-template-columns: auto 1fr auto;
    text-align: left;
    transition: transform 0.3s;
    width: 100%;
}

.questions button::before {
    content: "";
    background-color: var(--color-p1);
    display: inline-block;
    height: 8px;
    width: 12px;
}

.questions button::after {
    content: "";
    background: url("../../img/icons/arrow-open.svg");
    display: inline-block;
    height: 6px;
    width: 14px;
}

.questions button:hover::after {
    transform: rotate(180deg);
}

.questions dd {
    display: none;
    max-width: 80ch;
    padding-left: 20px;
    padding-top: 16px;
}

.questions dd.active {
    display: block;
}

.questions button:hover::after,
.questions button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

@media (max-width: 800px) {
    .questions {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .questions h2 {
        margin-bottom: 40px;
    }
}
