.header-bg {
    background-color: var(--color-12);
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

.header-menu a::after {
    background-color: var(--color-0);
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    position: absolute;
    transition: 0.3s;
    width: 0px;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a::after {
        display: none;
    }

    .header-menu a {
        background-color: var(--color-11);
        border-radius: 4px;
        padding: 12px 16px;
    }

    .header-menu a:hover {
        background-color: var(--color-10);
    }
}

@media (max-width: 400px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        font-size: 14px;
        padding: 8px 12px;
    }
}
