#bike .title p {
    text-transform: uppercase;
}

.bike {
    align-items: start;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
    padding-top: 60px;
}

.bike-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bike-images img {
    flex: 1;
    min-width: 200px;
}

.bike-images img:first-child {
    min-width: 100%;
}

.bike-content > p {
    margin-bottom: 32px;
}

.bike-buy {
    align-items: center;
    display: grid;
    gap: 8px 12px;
    grid-template-columns: max-content auto;
    justify-items: start;
    margin-bottom: 40px;
}

.bike-buy a {
    grid-row: span 2;
}

.bike-buy span {
    align-items: center;
    background-color: var(--color-12);
    border-radius: 4px;
    display: flex;
    gap: 8px;
    padding: 4px 8px;
}

.bike-content h2 {
    letter-spacing: 0.015em;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.bike-infos,
.bike-especifications {
    background-color: var(--color-12);
    border-radius: 4px;
    padding: 32px;
}

.bike-infos {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.bike-infos img,
.bike-infos h3 {
    margin-bottom: 8px;
}

.bike-infos img {
    width: 24px;
}

.bike-especifications li {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
}

.bike-especifications li:not(:last-child) {
    border-bottom: 1px solid var(--color-11);
}

.bike-especifications span {
    color: var(--color-6);
}

@media (max-width: 800px) {
    .bike {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .bike-images {
        grid-row: 2;
    }
}

@media (max-width: 400px) {
    .bike-infos {
        grid-template-columns: 1fr;
    }

    .bike-buy {
        grid-template-columns: 1fr;
    }
}
