.insurance-bg {
    background-color: var(--color-11);
    box-shadow: inset 0 120px var(--color-0), inset 0 -120px var(--color-12);
}

.insurance {
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.insurance-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.insurance-content {
    padding-bottom: 180px;
    padding-top: 180px;
}

.insurance h2 {
    margin-bottom: 32px;
}

.insurance p {
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .insurance-bg {
        box-shadow: inset 0 -60px var(--color-12);
    }

    .insurance {
        grid-template-columns: 1fr;
    }

    .insurance-image {
        height: 200px;
    }

    .insurance-content {
        grid-row: 1;
        padding-bottom: 0px;
        padding-top: 40px;
    }
}
