.btn {
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--color-p5);
    display: inline-block;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
    padding: 16px 32px;
    text-transform: uppercase;
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.btn.secondary {
    background: var(--color-10);
    color: var(--color-2);
}

.btn.secondary:hover {
    background-color: var(--color-9);
}

@media (max-width: 600px) {
    .btn {
        font-size: 1rem;
        padding: 12px 16px;
    }
}
